<div class="songcard">
	<span>
	<div class="coverart">
		<a href=<%= url %> >
		<% unless coverart == '' %>
			<img src=<%= coverart %> />
		<%end%>
		</a>
	</div>
	<div class="songinfo">
		<%= artist %> - <%= title %>
	</div>
	</span>
</div>
