<div class="songcard">
	<div class="coverart">
		<% unless coverart == '' %>
			<img src="http://images.gs-cdn.net/static/albums/<%= coverart %>" />
		<%end%>
	<div class="songinfo">
		<%= title %>
		<br />
		<%= artist %>
	</div>
			<span><a href=<%= url %> ></a></span></div>
</div>
