<a href=<%= url %> >
	<div class="songcard">
		<div class="songtitle"><%= groove_song.name %></div>
		<div class="songartist"><%= groove_song.artist %></div>
		<div class="songalbum"><%= groove_song.album %></div>
	</div> 
</a>

