<div class="new_song">
	<%= form_for :songs, url: {action: 'search'}, html: {method: 'get'} do |f| %>
		<%= f.text_field :title, placeholder: "Search for Music" %><br><br>
		<%= f.submit "Search", :class => "button" %>
	<% end %>
</div>
