$font-family: sans-serif;
$font-color: #000;
$background-color: rgb(236,236,255);
$main-accent-color: #000;
$secondary-accent-light: #999;
$header-text: #fff;


// logo color: background-color: rgb(13,39,72);
