.new_song
	margin-top: 100px

	form
		width: 90%
		display: inline-block
		text-align: center
		
	input[type='submit']
	  border-radius: 5px
	  width: 90%
	  background-color: rgb(120,121,189)
	  color: white
	  font-size: 5em

#songs_title
	width: 70%
	height: 28px
	font-size: 28px

