<h1><%= @playlist.title %></h1>

<a href="/playlists/<%=@playlist.id%>/songs/new">Add a Song</a>
<audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg">


    </audio>
<ul id="playlist">
	<% @playlist.songs.each do |song| %>
		<%= render partial: 'songs/mini_groove_song_card', locals: {title: song.title, artist: song.artist, url: @client.get_song_url_by_id(song.link), coverart: song.coverart}%>
	<% end %>
</ul>
